.navbar{
 text-decoration: none;
 background: linear-gradient(90deg,rgb(72, 54, 230),rgb(34, 34, 149),rgb(9, 37, 69));
 width: 100%;
 
  
}
.li{
  float: inline-start;
  list-style-type:none;
  padding-left: 30px;
  color: aliceblue;
}
